<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootswatch/cyborg/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/blog.css" rel="stylesheet" />
</head>
<body>
    <!-- Navigation section -->
    @{
        Html.RenderPartial("_HeaderNavBar");
    }

    <!-- Page specific section -->
    <div class="container-fluid green-background">
        @RenderBody()
    </div>

    <!-- Footer section -->
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Blogger 2017</span>
        </div>
    </footer>

    <!-- Script section -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>